body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  color: #333;
}

header {
  background: #0077b6;
  color: white;
  padding: 20px 0;
  text-align: center;
}

header nav a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
}

section {
  padding: 20px;
  max-width: 800px;
  margin: auto;
  background: white;
  margin-bottom: 20px;
}

.project {
  margin-bottom: 15px;
}

footer {
  text-align: center;
  padding: 10px;
  background: #333;
  color: white;
}
#media {
  padding: 20px;
}

#mediaGallery img,
#mediaGallery video {
  display: block;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
